{% extends "home.html" %}


{% block content %}
  <h1>Shopping Cart</h1>
  <table class="table-cart" border="1px" >
    <thead class="thead">
      <tr>
        <th>image</th>
        <th>Product</th>
        <th>quantity</th>
        <th>Remove</th>
        <th>Unit Price</th>
        <th>price</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td class="cart-img">
              <a href="{{ sport.get_absolute_url }}">
                <img src="{{ sport.img.url }}" class="img-responsive" />
              </a>
            </td>
            <td>{{ sport.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>
              <form action="{% url "cart:CartAdd" product.id %}" method="post" class="add">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                {% csrf_token %}
                <input type="submit" value="Remove">
              </form>
            </td>
            <td><a href="{% url "cart:CartRemove" product.id %}">Remove</a></td>
            <td class="num">{{ item.price }}</td>
            <td class="num">{{ item.total_price }}</td>
          </tr>
        {% endwith %}
      {% endfor %}
      
        <tr class="total">
          <td>Total</td>
          <td colspan="4"></td>
          <td class="num">Rs:{{ cart.get_total_price}}.</td>
        </tr>
    </tbody>
  </table>

  <p class="text-right">
    <a href="#" class="btn btn-light">continue shopping</a>
    <a href="#" class="btn">Checkout</a>
  </p>
{% endblock %}