{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'images/football1.jpg'%}" type="image/gif" sizes="16x16"> 
    <style>
        .center{
            display: flex;
            justify-content: center;
           
        }
  
   li{
    list-style: none;
   }
    </style>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SportsHub</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">

</head>
<body>
    <header>
    <nav class="nav1">
        <div class="left">
          
           
            <a href="register">Register</a>
            <a href="login">Login</a>

        </div>
  
      
        </nav>
        <!--nav1 end-->


        <!--nav2 start-->

        <nav class="nav2">
            <div class="n2left">
                <i class="fa fa-phone"></i> 01-12344469
                <i class="fa fa-envelope"></i> manishhimalaya64@gmail.com

            </div>
            <div class="center">
                <img src="{% static 'images/logo.png' %}" alt="logo" width="250px">
                

            </div>
            
        </nav>

      






        <section class="featured">
            <div class="featured-text">
                <button>Comming soon</button>
                <h2>Please login for buy the producs</h2>
            </div>
        </section>

    </header>



    <footer>
        <div>
          <h1>MWizard <br><span>Online Sports Shop</span></h1>  
          <p>Any type of spots meterial is available here</p>
        </div>
        <div>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-twitter"></i>
            <p><br>Design By Manish Himalaya</p>
        </div>

        <div>
            <p>
                @2022 Copyright All Rights Reserved
            </p>
        </div>
    </footer>

</body>
</html>