{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SportsHub</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">

</head>
<body>
    <header>
    <nav class="nav1">
        <div class="left">
            
            <a href="registration form.html">Register</a>
            <a href="login.html">Login</a>   
        </div>
  
            <div class="right">
        
            
            <a href="#"><img src="user.png" alt=""></a>
            <a href="#"><img src="cart.png" alt=""></a>
        </div>
        </nav>
        <!--nav1 end-->


        <!--nav2 start-->

        <nav class="nav2">
            <div class="n2left">
                <i class="fa fa-phone"></i> 01-12344469
                <i class="fa fa-envelope"></i> manishhimalaya64@gmail.com

            </div>
            <div class="center">
                <img class="logo" src="{% static 'MWizard.png' %" alt="logo"> 

            </div>
            <div class="n2right">
                <input type="text" class="search-box" placeholder="search by country/team">
                <button class="search-btn">search</button>
            </div>
        </nav>

        <nav class="nav3">
            <ul>
                <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                <li class="nepal"><a href="#"><img src="img/nep.png">Nepali</a></li>
                <li><a href="#"><i class="fa fa-user"></i>Kids</a></li>
                <li><a href="#"><i class="fa fa-soccer-ball-o"></i>
                    Football<i class="fa fa-caret-down"></i></a>
                    <ul>
                        <li><a href="#">International Teams</a></li>
                        <li><a href="#">clubs</a></li>
                       
                    </ul>
                </li>
                <li><a href="#"><i class='far fa-cricket fa-9x' style='color:#e83e8c'></i>
                    Cricket<i class="fa fa-caret-down"></i></a>
                    <ul>
                        <li><a href="#">International Teams</a></li>
                        <li><a href="#">clubs</a></li>
                       
                    </ul>
                </li>
                <li><a href="#"><i class="fas fa-basketball-ball"></i>
                    Basketball<i class="fa fa-caret-down"></i></a>
                    <ul>
                        <li><a href="#">International Teams</a></li>
                        <li><a href="#">clubs</a></li>
                      
                    </ul>
                </li>
            </ul>
        </nav>


<section id="sidenav">
    <ul>
        <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
        <li class="nepal"><a href="#"><img src="img/nep.png">Nepali</a></li>
        <li><a href="#"><i class="fa fa-user"></i>Kids</a></li>
        <li><a href="#"><i class="fa fa-soccer-ball-o"></i>
            Football<i class="fa fa-caret-down"></i></a>
            <ul>
                <li><a href="#">International Teams</a></li>
                <li><a href="#">clubs</a></li>
              
            </ul>
        </li>
        <li><a href="#"><i class='far fa-cricket fa-9x' style='color:#e83e8c'></i>
            Cricket<i class="fa fa-caret-down"></i></a>
            <ul>
                <li><a href="#">International Teams</a></li>
                <li><a href="#">clubs</a></li>
               
            </ul>
        </li>
        <li><a href="#"><i class="fas fa-basketball-ball"></i>
            Basketball<i class="fa fa-caret-down"></i></a>
            <ul>
                <li><a href="#">International Teams</a></li>
                <li><a href="#">clubs</a></li>
                
            </ul>
        </li>
    </ul>

</section>





        <section class="featured">
            <div class="featured-text">
                <button>Comming soon</button>
                <h2>Please login for buy the producs</h2>
            </div>
        </section>

    </header>
</body>
</html>