{% load static %}
{% static "images" as baseUrl %}
{% load cart %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'images/football1.jpg'%}" type="image/gif" sizes="16x16"> 
  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    
    <style>
        .nav3{
            display: flex;
            justify-content: center;
            justify-content: space-around;
        }
        .nav3 a{
           text-decoration: none;
            margin-left: 20px;
        }
        .r li{
            margin-left: 30px;
        }
        .r ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
                       
        }
        .r a{
            color: black;
           display: flex;
           flex-direction: column;
           text-decoration: none;
        }
        .table-cart{
            width: 100%;
            margin: 10px 0;
          }
        .card-container .card{
            margin: 10px;
            padding: 15px;
        }
        #nepali-football{
            margin-top: 20px;
            color: white;
            background-color: black;
            
            text-align: center;
           
            
            
        }
        .center{
            display: flex;
            justify-content: center;
        }
  
        #sports{color: white;
            background-color: black;
             width: 30%;
             border: 1px solid black;
             border-radius: 10px;
             
           }
           #hub{
             
            background-color: red;
             background-size: 10px;
             width: 30%;
             border: 1px solid black;
             border-radius: 10px;
           }
   li{
    list-style: none;
   }
    </style>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SportsHub</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Akaya+Telivigala&family=Roboto:wght@300&display=swap" rel="stylesheet"> 
<link
  rel="stylesheet"
  href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
/>

</head>
<body>
    <header>
    <nav class="nav1">
       
        <div class="left">
            <ul>


                <li> Hello, {{user.first_name}}</li>
	            <li> <a href="logout">Logout</a></li>

               
           </ul>
        
        </div>
            <div class="r">
        
            <ul>
            <li><a href="{% url 'order' %}">Orders</a></li>
            <li><span class="badge badge-info">{{request.session.cart.keys|length}}</span><a href="{% url 'cart' %}"><img src="{% static 'images/cart.png' %}" alt="cart">Cart
            
            </a></li>
        </ul>
        </div>
        </nav>
        <!--nav1 end-->


        <!--nav2 start-->

        <nav class="nav2">
            <div class="n2left">
                <i class="fa fa-phone"></i> 01-12344469
                <i class="fa fa-envelope"></i> manishhimalaya64@gmail.com

            </div>
            <div class="center">
                <!--<img src="{% static 'images/logo.png' %}" alt="logo" width="250px">-->

            </div>
            <div class="n2right">
                <input type="text" class="search-box" placeholder="search by country/team">
                <button class="search-btn">search</button>
            </div>
        </nav>

        <nav class="nav3">
            <a href="{% url 'front' %}">Home</a>
           {% for category in categories %}
           <a href="?category={{category.id}}">{{category.name}}</a>
           {% endfor %}
        </nav>


<section id="sidenav">
    <ul>
        <li><a href="{% url 'front' %}"><i class="fa fa-home"></i>Home</a></li>
        {% for category in categories %}
        <li><a href="home?category={{category.id}}">{{category.name}}</a></li>
        {% endfor %}  
        
    </ul>

</section>
<i class="fa fa-anchor" id="menubar"></i>

{% block content %}




        <section class="featured">
            <div class="featured-text">
                <button>Comming soon</button>
                <h2>Our New Product</h2>
            </div>
        </section>
        
    </header>
    <section class="latest">
        <div class="product-intro">
            <h1>All <span>Products</span></h1>
            <P>Welcome guys</P>
        </div>
        <div class="card-container">

            {% for sport in sports %}
                    <div class="card" id="{{sport.id}}">
            <div>
                    <img src="{{sport.img.url}}" alt="Real">
            </div>
            <h1>{{sport.name}}</h1>
            <span>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </span>
            <p>{{sport.price}}</p>

           

            <div class="card-footer p-0 no-gutters">

                {% if sport|is_in_cart:request.session.cart %}
                <div class="row no-gutters">
                    <form action="home#{{sport.id}}" class="col-2 " method="post">
                        {% csrf_token %}
                        <input hidden type="text" name='product' value='{{sport.id}}'>
                        <input hidden type="text" name='remove' value='True'>
                        <input type="submit" value=" - " class="btn btn-block btn-secondary">
                    </form>
                    <div class="text-center col">{{sport|cart_quantity:request.session.cart}} in Cart</div>
                    <form action="home#{{sport.id}}" class="col-2 " method="post">
                        {% csrf_token %}
                        <input hidden type="text" name='product' value='{{sport.id}}'>
                        <input type="submit" value=" + " class="btn btn-block btn-secondary">
                    </form>
                </div>

                {% else %}

                <form action="home#{{sport.id}}" method="POST" class="btn-block">
                    {% csrf_token %}
                    <input hidden type="text" name='product' value='{{sport.id}}'>
                    <input type="submit" class="float-right btn btn-light border btn-sm" value="Add To Cart">
                </form>
                {% endif %}

     
            </div>

        </div>
        
        
        {% endfor %}

    
    </div>

    </section>
 

    <!--slider-->

    <section class="trends">
        <div class="product-intro">
        <h1>Special <span>Products</span></h1>
        <p>Let's Play</p>
    </div>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="{% static 'images/football1.jpg' %}">
          </div>
          <div class="swiper-slide">
            <img src="{% static 'images/football2.jpg' %}">
          </div> 
          <div class="swiper-slide">
            <img src="{% static 'images/anjal.png' %}">
          </div>
          <div class="swiper-slide">
            <img src="{% static 'images/football.jpg' %}">
          </div>
          <div class="swiper-slide">
            <img src="{% static 'images/tiku.png' %}">
          </div>
          <div class="swiper-slide">
            <img src="{% static 'images/boot.jpg' %}">
          </div>
          <div class="swiper-pagination"></div>
        </div>
    </section>


    {% endblock %}
    <!--footer-->
    <footer>
        <div>
          <h1>MWizard <br><span>Online Sports Shop</span></h1>  
          <p>Any type of spots meterial is available here</p>
        </div>
        <div>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-twitter"></i>
            <p><br>Design By Manish Himalaya</p>
        </div>

        <div>
            <p>
                @2022 Copyright All Rights Reserved
            </p>
        </div>
    </footer>


    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
          effect: "coverflow",
          grabCursor: true,
          centeredSlides: true,
          slidesPerView: "auto",
          coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 1200,
            modifier: 1,
            slideShadows: false,
          },
          pagination: {
            el: ".swiper-pagination",
          },
        });
      </script>

      <script>
          var sidenav= document.getElementById('sidenav');
          var menubar= document.getElementById('menubar');
          sidenav.style.width="0px";
          menubar.onclick=function(){
              if(sidenav.style.width=="0px"){
                 sidenav.style.width="250px"
              }
              else{
                  sidenav.style.width="0px";

              }
          }
          
      </script>



</body>
</html>