<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MWizard Online Sports Shop</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Akaya+Telivigala&family=Roboto:wght@300&display=swap" rel="stylesheet"> 
<link
  rel="stylesheet"
  href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
/>

</head>
<body>
    <header>
    <nav class="nav1">
        <div class="left">
            
            <a href="registration form.html">Register</a>
            <a href="login.html">Login</a>   
        </div>
  
            <div class="right">
        
            
            <a href="#"><img src="user.png" alt=""></a>
            <a href="#"><img src="cart.png" alt=""></a>
        </div>
        </nav>
        <!--nav1 end-->


        <!--nav2 start-->

        <nav class="nav2">
            <div class="n2left">
                <i class="fa fa-phone"></i> 01-12344469
                <i class="fa fa-envelope"></i> manishhimalaya64@gmail.com

            </div>
            <div class="center">
                <img class="logo" src="MWizard.png" alt="logo"> 

            </div>
            <div class="n2right">
                <input type="text" class="search-box" placeholder="search by country/team">
                <button class="search-btn">search</button>
            </div>
        </nav>

        <nav class="nav3">
            <ul>
                <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                <li class="nepal"><a href="#"><img src="img/nep.png">Nepali</a></li>
                <li><a href="#"><i class="fa fa-user"></i>Kids</a></li>
                <li><a href="#"><i class="fa fa-soccer-ball-o"></i>
                    Football<i class="fa fa-caret-down"></i></a>
                    <ul>
                        <li><a href="#">International Teams</a></li>
                        <li><a href="#">Premier league</a></li>
                        <li><a href="#">GermanBundesliga</a></li>
                        <li><a href="#">LaLiga</a></li>
                        <li><a href="#">Others</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='far fa-cricket fa-9x' style='color:#e83e8c'></i>
                    Cricket<i class="fa fa-caret-down"></i></a>
                    <ul>
                        <li><a href="#">International Teams</a></li>
                        <li><a href="#">IPL</a></li>
                        <li><a href="#">BBL</a></li>
                        <li><a href="#">PSL</a></li>
                        <li><a href="#">Others</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="fas fa-basketball-ball"></i>
                    Basketball<i class="fa fa-caret-down"></i></a>
                    <ul>
                        <li><a href="#">International Teams</a></li>
                        <li><a href="#">NBA</a></li>
                        <li><a href="#">Others</a></li>
                    </ul>
                </li>
            </ul>
        </nav>


<section id="sidenav">
    <ul>
        <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
        <li class="nepal"><a href="#"><img src="img/nep.png">Nepali</a></li>
        <li><a href="#"><i class="fa fa-user"></i>Kids</a></li>
        <li><a href="#"><i class="fa fa-soccer-ball-o"></i>
            Football<i class="fa fa-caret-down"></i></a>
            <ul>
                <li><a href="#">International Teams</a></li>
                <li><a href="#">Premier league</a></li>
                <li><a href="#">GermanBundesliga</a></li>
                <li><a href="#">LaLiga</a></li>
                <li><a href="#">Others</a></li>
            </ul>
        </li>
        <li><a href="#"><i class='far fa-cricket fa-9x' style='color:#e83e8c'></i>
            Cricket<i class="fa fa-caret-down"></i></a>
            <ul>
                <li><a href="#">International Teams</a></li>
                <li><a href="#">IPL</a></li>
                <li><a href="#">BBL</a></li>
                <li><a href="#">PSL</a></li>
                <li><a href="#">Others</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="fas fa-basketball-ball"></i>
            Basketball<i class="fa fa-caret-down"></i></a>
            <ul>
                <li><a href="#">International Teams</a></li>
                <li><a href="#">NBA</a></li>
                <li><a href="#">Others</a></li>
            </ul>
        </li>
    </ul>

</section>
<i class="fa fa-anchor" id="menubar"></i>




        <section class="featured">
            <div class="featured-text">
                <button>Comming soon</button>
                <h2>Our New Product</h2>
            </div>
        </section>
        
    </header>
    <section class="latest">
        <div class="product-intro">
            <h1>Most sold <span>Football jersey</span></h1>
            <P>Welcome guys</P>
        </div>
        <div class="card-container">
                    <div class="card">
            <div>
                <img src="img/real.png" alt="Real">
            </div>
            <h1>jersey</h1>
            <span>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </span>
            <p>Rs.3500</p>
            <button>Add to cart</button>
        </div>
        <div class="card">
            <div>
                <img src="img/anjal.png" alt="Anjol">
            </div>
            <h1>jersey</h1>
            <span>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </span>
            <p>Rs.3500</p>
            <button>Add to cart</button>
        </div>
        <div class="card">
            <div>
                <img src="img/city.png" alt="Real">
            </div>
            <h1>jersey</h1>
            <span>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </span>
            <p>Rs.3500</p>
            <button>Add to cart</button>
        </div>
        <div class="card">
            <div>
                <img src="img/FCB.png" alt="Real">
            </div>
            <h1>jersey</h1>
            <span>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </span>
            <p>Rs.3500</p>
            <button>Add to cart</button>
        </div>
            
    </div>
    <div class="card-container">
    <div class="card">
        <div>
            <img src="img/gunne.png" alt="Real">
        </div>
        <h1>jersey</h1>
        <span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </span>
        <p>Rs.3500</p>
        <button>Add to cart</button>
    </div>
    <div class="card">
        <div>
            <img src="img/panda.png" alt="Real">
        </div>
        <h1>jersey</h1>
        <span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </span>
        <p>Rs.3500</p>
        <button>Add to cart</button>
    </div>
    <div class="card">
        <div>
            <img src="img/pare.png" alt="Real">
        </div>
        <h1>jersey</h1>
        <span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </span>
        <p>Rs.3500</p>
        <button>Add to cart</button>
    
</div>
<div class="card">
    <div>
        <img src="img/tiku.png" alt="Real">
    </div>
    <h1>jersey</h1>
    <span>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
    </span>
    <p>Rs.3500</p>
    <button>Add to cart</button>
</div>
    </div>

    </section>
    <!--tranding product-->

    <section class="latest">
        <div class="product-intro">
            <h1>Trand<span>ing</span></h1>
            <P>Welcome guys</P>
        </div>

  
    <div class="card-container">
    <div class="card">
        <div>
            <img src="img/football1.jpg" alt="Real">
        </div>
        <h1>jersey</h1>
        <span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </span>
        <p>Rs.3500</p>
        <button>Add to cart</button>
    </div>
    <div class="card">
        <div>
            <img src="img/ncric.jpg" alt="Real">
        </div>
        <h1>jersey</h1>
        <span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </span>
        <p>Rs.3500</p>
        <button>Add to cart</button>
    </div>
    <div class="card">
        <div>
            <img src="img/nep.jpg" alt="Real">
        </div>
        <h1>jersey</h1>
        <span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </span>
        <p>Rs.3500</p>
        <button>Add to cart</button>
    
</div>
<div class="card">
    <div>
        <img src="img/ckit.png" alt="Real">
    </div>
    <h1>jersey</h1>
    <span>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
    </span>
    <p>Rs.3500</p>
    <button>Add to cart</button>
</div>
    </div>
    </section>

    <!--slider-->

    <section class="trends">
        <div class="product-intro">
        <h1>Special <span>Offer</span></h1>
        <p>Take an advantage of this offer</p>
    </div>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/football1.jpg">
          </div>
          <div class="swiper-slide">
            <img src="img/football2.jpg">
          </div> 
          <div class="swiper-slide">
            <img src="img/football3.jpeg">
          </div>
          <div class="swiper-slide">
            <img src="img/football.jpg">
          </div>
          <div class="swiper-slide">
            <img src="img/bootball4.jpg">
          </div>
          <div class="swiper-slide">
            <img src="img/boot.jpg">
          </div>
          <div class="swiper-pagination"></div>
        </div>
    </section>

    <!--footer-->
    <footer>
        <div>
          <h1>MWizard <br><span>Online Sports Shop</span></h1>  
          <p>Any type of spots meterial is available here</p>
        </div>
        <div>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-twitter"></i>
            <p><br>Design By Manish Himalaya</p>
        </div>

        <div>
            <p>
                @2022 Copyright All Rights Reserved
            </p>
        </div>
    </footer>


    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
          effect: "coverflow",
          grabCursor: true,
          centeredSlides: true,
          slidesPerView: "auto",
          coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 1200,
            modifier: 1,
            slideShadows: false,
          },
          pagination: {
            el: ".swiper-pagination",
          },
        });
      </script>

      <script>
          var sidenav= document.getElementById('sidenav');
          var menubar= document.getElementById('menubar');
          sidenav.style.width="0px";
          menubar.onclick=function(){
              if(sidenav.style.width=="0px"){
                 sidenav.style.width="250px"
              }
              else{
                  sidenav.style.width="0px";

              }
          }
          
      </script>



</body>
</html>